.main__down-navigation{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 40;
}
.main__down-navigation-list{
  display: none;
  width: 100%;
}
.main__down-navigation-list-item{
  flex: 1 1 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(50 0 0);
  cursor: pointer;
  &:hover{
    background: #3c0000;
  }
  & a {
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(50 0 0);
  }
}
.windowUp{
  gap: 10px;
}
.navigation__list-item-img-wrapper{
  width: 30px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.windowDown{
  gap: 10px;
  position: relative;
}
.main__down-navigation-list-btn-mobile{
  display: none;
  position: relative;
  width: 100%;
  padding: 10px;
  text-shadow: 2px 2px 2px rgb(50 0 0);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  &:after{
    content: url(../img/icons/dropDownIcon.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
@media (max-width: 1919px) {
  .windowUp{
    & p {
      display: none;
    }
  }
  .windowDown{
    & p {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .main__down-navigation-list{
    flex-direction: column;
  }
  .main__down-navigation-list-item{
    display: none;
  }
}
.mainDownListActive{
  display: flex;
}