body{
  height: 2000px;
}
html{
  scroll-behavior: smooth;
}
.wrapper{
  position: relative;
}
.container{
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
}
.main__container{
  max-width: 1920px;
  margin: 0 auto;
}
.container__header{
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1919px) {
  .container{
    max-width: 1366px;
  }
  .main__container{
    max-width: 1366px;
  }
  .container__header{
    max-width: 1366px;
  }
}
@media (max-width: 1365px) {
  .container{
    max-width: 1140px;
  }
  .main__container{
    max-width: 1140px;
  }
  .container__header{
    max-width: 1140px;
  }
}
@media (max-width: 1023px) {
  .container{
    max-width: 850px;
  }
  .main__container{
    max-width: 850px;
  }
  .container__header {
    max-width: 850px;
  }
}
@media (max-width: 767px) {
  .container{
    max-width: 540px;
    padding: 0 15px;
  }
  .main__container{
    max-width: 540px;
    padding: 0 15px;
  }
  .container__header{
    max-width: 540px;
    padding: 0 15px;
  }
}

@import "_header.scss";
@import "_main.scss";
@import "_mainSlider.scss";
@import "_modalWindow.scss";
@import "_customCalendar.scss";
@import "_mainServiceBlock.scss";
@import "_mainContentBlock.scss";
@import "_mainSaleBlock.scss";
@import "_swiperTips.scss";
@import "_subscription.scss";
@import "_subscriptionForm.scss";
@import "_getWork.scss";
@import "_mainDownNav.scss";
@import "_footer.scss";
@import "_test.scss";

.active{
  display: flex !important;
}
.calendarActive{
  display: block !important;
}
.dropDownCalendar{
  display: flex !important;
}
.wrapper{
  display: block;
}