body {
  height: 2000px;
}

.container {
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
}

.container__header {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1366px;
  }
  .container__header {
    max-width: 1366px;
  }
}
@media (max-width: 1365px) {
  .container {
    max-width: 1140px;
  }
  .container__header {
    max-width: 1140px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 850px;
  }
  .container__header {
    max-width: 850px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .container__header {
    max-width: 540px;
  }
}
.header__wrapper {
  padding-top: 15px;
}

.header__about-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0 30px;
}

.header__logo {
  margin-bottom: 15px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.header__image-wrapper {
  display: none;
}

.header__nav-service-btn {
  display: none;
}

.header__nav-discount-btn {
  display: none;
}

.header__about-work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__nav-phone-btn {
  display: none;
}

.header__about-works-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 40px;
  justify-content: space-between;
}
.header__about-works-wrapper .header__logo {
  display: none;
}

.header__about-item {
  display: flex;
  gap: 9px;
  font-family: Cambria;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23.83px;
  color: yellow;
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header__phone a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: white;
}
.header__phone a span {
  color: #afc8ff;
}

.secondBlock__second-form {
  margin-top: 10px;
}

.header__btn-wrapper {
  display: flex;
  gap: 20px;
  position: relative;
}

.btn__drop-down-menu {
  position: absolute;
  bottom: -1068px;
  width: 100%;
  right: -25px;
  z-index: 4;
  z-index: 4;
  display: none;
  max-width: 290px;
}

.btn__drop-down-present {
  position: absolute;
  bottom: -961px;
  z-index: 5;
  width: 100%;
  display: none;
}

.btn__drop-down-present.btn__drop-down-present-active {
  display: block;
}

.btn__drop-down-menu.btn__drop-down-menu-active {
  display: block;
}

.drop-down-menu-wrapper {
  display: flex;
  flex-direction: column;
}

.drop__down-present-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 290px;
}

.drop__down-present-firstBlock {
  background: #490000;
  padding: 60px 20px;
  border-radius: 55px 55px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.present__firstBlock-image {
  position: absolute;
  bottom: -88px;
  width: 100%;
  padding: 0 20px;
}
.present__firstBlock-image img {
  width: 100%;
  height: 100%;
}

.drop__down-menu-firstBlock {
  background: #490000;
  padding-top: 25px;
  border-radius: 55px 55px 0 0;
  position: relative;
  padding-bottom: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstBlock__title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: #ffff00;
  text-align: center;
}
.firstBlock__title span {
  font-size: 18px;
}

.firstBlock__image {
  width: 100%;
  position: absolute;
  max-width: 300px;
  bottom: -94px;
  padding: 0 10px;
}
.firstBlock__image img {
  width: 100%;
}

.drop__down-menu-secondBlock {
  padding-top: 12px;
  padding-bottom: 20px;
  border-radius: 0 0 55px 55px;
  background: linear-gradient(90deg, rgb(40, 0, 0) 0%, rgb(76, 0, 0) 35%, rgb(138, 3, 2) 100%);
}

.present__secondBlock {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 0 0 55px 55px;
  background: linear-gradient(90deg, rgb(40, 0, 0) 0%, rgb(76, 0, 0) 35%, rgb(138, 3, 2) 100%);
}

.present__secondBlock-title {
  padding-left: 20px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36.83px;
  color: #ffffff;
  text-align: center;
  max-width: 200px;
}

.present__secondBlock-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}
.present__secondBlock-form input {
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  width: 100%;
}
.present__secondBlock-form input::placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.form__who-wrap select {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__who-wrap select option {
  color: black;
}

.form__occasion-wrap select {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__occasion-wrap select option {
  color: black;
}

.form__order-wrap select {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__order-wrap select option {
  color: black;
}

.form__order-title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form__about-title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  margin-bottom: 5px;
}

.form__date-title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  margin-bottom: 5px;
  padding-left: 10px;
}

.occasion__title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  padding-left: 10px;
  margin-bottom: 5px;
}

.form__who-title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form__about-text {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23.83px;
  color: #fff0c8;
}

.secondBlock__title {
  padding-left: 20px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23.83px;
  color: #ffffff;
  text-align: center;
}
.secondBlock__title span {
  font-size: 14px;
}

.form__remind-wrap {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__remind-wrap select {
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 5px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__remind-wrap select option {
  color: black;
}

.form__remind-everyYears {
  display: flex;
  justify-content: center;
}
.form__remind-everyYears input {
  width: 20px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__remind-everyYears label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__remind-everyYears label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #fff0c8;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__remind-everyYears input:checked + label::before {
  background-image: url(../img/icons/checkBoxPNG.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.present__form-btn {
  padding: 6px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 2px 2.55px rgba(36, 0, 0, 0.93);
}

.header__remind-present-button {
  padding: 21px;
  background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 2px 2.55px rgba(36, 0, 0, 0.93);
}

.header__about-work-mini-wrapper .header__discounts-button {
  display: none;
}

.header__discounts-button {
  padding: 21px;
  cursor: pointer;
  text-align: center;
  background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  width: 237px;
  height: 65px;
  text-shadow: 0px 2px 2.55px rgba(36, 0, 0, 0.93);
}

.header__nav-wrapper {
  padding: 0 30px;
}

.header__nav-list {
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: space-between;
}
.header__nav-list a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
}

.header__about-work-mini-wrapper {
  display: none;
}

.secondBlock__nav {
  margin-top: 24px;
  padding: 0 20px;
}

.secondBlock__nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 12px;
  justify-content: space-between;
}

.secondBlock__list-item {
  width: 100px;
}
.secondBlock__list-item a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.secondBlock__list-item a p {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333;
  color: rgb(255, 240, 200);
}

.secondBlock__list-item-imageWrapper {
  max-width: 20px;
}
.secondBlock__list-item-imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondBlock__instruction {
  margin-top: 21px;
  padding: 0 20px;
}

.instruction__title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.571;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
}

.instruction__list-item {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.instruction__list-item::marker {
  padding-left: 20px;
}

.secondBock__form-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  color: rgb(255, 255, 255);
  margin-bottom: 3px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input-wrapper input {
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form-input-wrapper input::placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.form__subTitle {
  margin-top: 10px;
}
.form__subTitle span {
  font-size: 11px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  line-height: 18.83px;
}

.secondBlock__form-btn {
  max-width: 124px;
  margin: 0 auto;
  margin-top: 13px;
  padding: 10px 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  text-shadow: 0px 1px 2.49px rgba(50, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(133, 2, 2) 0%, rgb(194, 1, 1) 26%, rgb(255, 0, 0) 53%, rgb(208, 11, 0) 73%, rgb(160, 22, 0) 100%);
}

@media (max-width: 1919px) {
  .header__about-wrapper {
    padding: 0 20px;
    gap: 20px;
  }
  .header__about-work {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__about-works-wrapper {
    gap: 20px;
    align-items: center;
    margin-bottom: 0;
  }
  .header__about-works-wrapper .header__logo {
    display: block;
    flex: 1 1 auto;
  }
  .header__btn-wrapper {
    margin-bottom: 30px;
  }
  .header__phone {
    margin-bottom: 30px;
  }
  .header__nav-list {
    column-gap: 50px;
  }
  .header__remind-present-button {
    padding: 9px;
  }
  .header__phone {
    gap: 30px;
  }
  .header__discounts-button {
    width: 170px;
  }
  .header__about-work-mini-wrapper {
    padding: 0 20px;
    display: block;
    margin-bottom: 35px;
  }
  .header__about-work-mini-wrapper .header__about-work {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .header__about-wrapper {
    margin-bottom: 0px;
  }
  .header__phone {
    flex-direction: row;
  }
}
@media (max-width: 1365px) {
  .header__phone {
    gap: 20px;
    flex-direction: column;
  }
  .header__phone a {
    font-size: 18px;
  }
  .header__nav-wrapper {
    padding: 0 20px;
  }
  .header__nav-list {
    gap: 35px;
  }
  .header__nav-list a {
    font-size: 14px;
  }
  .header__about-work {
    gap: 6px;
  }
  .header__about-item {
    font-size: 20px;
  }
  .header__remind-present-button {
    font-size: 18px;
  }
  .header__discounts-button {
    font-size: 18px;
    width: 130px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    display: none;
    width: 100%;
  }
  .header__about-works-wrapper {
    margin-bottom: 0px;
  }
  .header__about-works-wrapper .header__logo {
    display: block;
    max-width: 310px;
  }
  .header__about-work-mini-wrapper {
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  .header__about-wrapper {
    column-gap: 15px;
  }
  .header__logo {
    display: none;
  }
  .header__about-works-wrapper {
    column-gap: 15px;
    margin-bottom: 0px;
  }
  .header__about-wrapper {
    margin-bottom: 0;
  }
  .header__discounts-button {
    display: none;
  }
  .btn__drop-down-present {
    bottom: -1009px;
  }
  .btn__drop-down-menu {
    bottom: -1232px;
    width: 100%;
    right: 0px;
  }
  .secondBlock__nav-list {
    column-gap: 0;
  }
  .header__about-work-mini-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__about-work-mini-wrapper .header__about-work {
    flex-direction: column;
  }
  .header__about-work-mini-wrapper .header__discounts-button {
    display: flex;
    flex-basis: 245px;
    font-size: 16px;
  }
  .header__remind-present-button {
    font-size: 16px;
    flex: 1 1 auto;
  }
  .header__discounts-button {
    font-size: 16px;
  }
  .header__phone {
    margin-bottom: 30px;
  }
  .header__phone a {
    font-size: 14px;
  }
  .header__nav-list {
    column-gap: 36px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__about-item {
    font-size: 18px;
  }
  .header__btn-wrapper {
    flex-basis: 245px;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  header {
    border: none;
  }
  .header__about-works-wrapper .header__logo {
    display: none;
    max-width: 310px;
  }
  .header__logo {
    display: block;
  }
  .btn__drop-down-menu {
    bottom: -1068px;
  }
  .header__about-work-mini-wrapper {
    display: none;
  }
  .btn__drop-down-present {
    bottom: -962px;
    left: -30px;
  }
  .header__btn-wrapper {
    margin-bottom: 15px;
  }
  .header__about-work {
    display: flex;
  }
  .header__btn-wrapper {
    flex-basis: 0;
  }
  .header__about-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .header__about-works-wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
  }
  .header__phone {
    flex-direction: row;
    margin: 0;
  }
  .header__discounts-button {
    display: flex;
  }
  .header__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .header__discounts-button {
    flex: 1 1 auto;
  }
  .header__remind-present-button {
    flex: 0 1 auto;
  }
  .header__about-item {
    gap: 5px;
  }
  .btn__image-wrapper {
    border: 8px solid transparent;
    border-top: 12px solid #fbf0c9;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .header__nav-phone-btn {
    display: flex;
    justify-content: center;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    position: relative;
  }
  .btn__text {
    font-family: Tahoma;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }
  .header__nav-wrapper {
    position: relative;
  }
  .header__nav-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header__nav-list {
    display: none;
    max-width: 216px;
    background: linear-gradient(to right, #270000, #760a0a);
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 26px;
    left: 20px;
  }
  .header__nav-list-item {
    padding: 5px;
    background: linear-gradient(to bottom, #da0601, #390505);
  }
  .header__nav-list-item:hover {
    background: #3c0000;
  }
  .header__image-wrapper {
    display: block;
  }
  .header__image-wrapper img {
    width: 100%;
    height: 100%;
  }
  .header__nav-service-btn {
    display: flex;
    justify-content: flex-start;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    padding-left: 10px;
    position: relative;
  }
  .header__nav-discount-btn {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    position: relative;
  }
}
@media (max-width: 479px) {
  .header__about-item {
    flex-wrap: wrap;
  }
  .header__btn-wrapper {
    flex-direction: column;
  }
  .header__discounts-button {
    width: 100%;
  }
  .header__nav-list {
    max-width: 280px;
  }
  .btn__drop-down-present {
    bottom: -881px;
    left: 0;
  }
  .btn__drop-down-menu {
    bottom: -1068px;
  }
  .drop__down-present-wrapper {
    max-width: 100%;
  }
  .present__firstBlock-image {
    max-width: 284px;
  }
  .header__about-wrapper {
    gap: 0px;
  }
  .header__about-works-wrapper {
    gap: 10px;
  }
  .header__about-work {
    gap: 5px;
  }
  .header__phone {
    gap: 0px;
    justify-content: space-evenly;
    width: 100%;
  }
  .header__phone a {
    font-size: 13px;
  }
}
@media (max-width: 340px) {
  .header__phone {
    width: 100%;
    justify-content: space-between;
  }
}
.main__wrapper {
  position: relative;
}

.main__nav-list {
  display: none;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 1px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.main__nav-list-item {
  flex: 1 1 auto;
  text-align: center;
  background: linear-gradient(to bottom, #d20300, #710909);
}
.main__nav-list-item:hover {
  background: #3c0000;
}
.main__nav-list-item a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.main__slider {
  position: relative;
}

.main__slider-wrapper {
  display: flex;
  transition: 0.5s;
}

.slider__item {
  height: 100%;
}
.slider__item .slider__item-link {
  width: 100%;
  max-width: 980px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: rgb(255, 255, 255);
  position: absolute;
  line-height: 1.55;
  bottom: 43px;
  display: flex;
  flex-direction: column;
  text-shadow: 0px 4px 2.49px rgba(35, 0, 0, 0.004);
}

.item__image {
  width: 100%;
}
.item__image img {
  width: 100%;
}

.main__slider-action {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 0 30px;
  top: 35%;
}
.main__slider-action .container {
  width: 100%;
  height: 100%;
}

.slider__action-prev {
  width: 50px;
}
.slider__action-prev img {
  width: 100%;
  height: 100%;
}

.slider__action-next {
  width: 50px;
}
.slider__action-next img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1919px) {
  .slider__item .slider__item-link {
    font-size: 40px;
  }
  .slider__action-prev {
    width: 50px;
    height: 160px;
  }
  .slider__action-next {
    width: 50px;
    height: 160px;
  }
}
@media (max-width: 1365px) {
  .slider__action-next {
    width: 40px;
    height: 95px;
  }
  .slider__action-prev {
    width: 40px;
    height: 95px;
  }
}
@media (max-width: 1023px) {
  .slider__item .slider__item-link {
    font-size: 30px;
    bottom: 20px;
  }
  .main__slider-action {
    padding: 0 50px;
  }
  .slider__action-prev {
    width: 25px;
    height: 75px;
  }
  .slider__action-next {
    width: 25px;
    height: 75px;
  }
}
@media (max-width: 767px) {
  .slider__action-next {
    width: 20px;
    height: 50px;
  }
  .slider__action-prev {
    width: 20px;
    height: 50px;
  }
}
@media (max-width: 479px) {
  .main__slider-action {
    display: none;
  }
  .item__image {
    height: 400px;
  }
  .item__image img {
    height: 100%;
    object-fit: cover;
  }
  .slider__item .slider__item-link {
    font-size: 20px;
    max-width: 300px;
  }
}
.active {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
