<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container__header">
                <div class="header__wrapper">
                    <div class="header__about-wrapper">
                        <div class="header__logo">
                            <img src="{% static 'img/logoSVG.svg' %}" alt="logo">
                        </div>
                        <div class="header__about-works-wrapper">
                            <div class="header__logo">
                                <img src="{% static 'img/logoSVG.svg' %}" alt="logo">
                            </div>
                            <div class="header__about-work">
                                <div class="header__about-item">
                                    ОБРАБОТКА ФОТО <span>|</span> ФОТОКНИГА <span>|</span> СЛАЙД-ШОУ <span>|</span>
                                </div>
                                <div class="header__about-item">
                                    ФОТО/ВИДЕО СЪЕМКА <span>|</span> МОНТАЖ <span>|</span> ВИДЕОРОЛИК
                                </div>
                            </div>
                            <div class="header__phone">
                                <a href="#">+7/495/<span>648-40-22</span></a>
                                <a href="#">+7/926/<span>511-25-71</span></a>
                            </div>
                            <div class="header__btn-wrapper">
                                <div class="header__remind-present-button">
                                    НАПОМНИТЬ о ПОДАРКЕ
                                </div>
                                <div class="header__discounts-button">
                                    СКИДКИ 2+
                                </div>
                                <div class="btn__drop-down-menu">
                                    <div class="drop-down-menu-wrapper">
                                        <div class="drop__down-menu-firstBlock">
                                            <div class="firstBlock__title">
                                                <p>ДАРИМ 300 РУБЛЕЙ</p> <span>за пост в соцсети!</span>
                                            </div>
                                            <div class="firstBlock__image">
                                                <img src="{% static 'img/dropDownImage.png' %}" alt="dropDownImage">
                                            </div>
                                        </div>
                                        <div class="drop__down-menu-secondBlock">
                                            <div class="secondBlock__title">
                                                <p>
                                                    ВЫБЕРИ соцсеть
                                                </p>
                                                <span>
                                                    Срок поста - 30 дней
                                                </span>
                                            </div>
                                            <nav class="secondBlock__nav">
                                                <ul class="secondBlock__nav-list">
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/1_VK.svg' %}" alt="VK">
                                                            </div>
                                                            <p>ВКонтакте</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/2_Instagram.svg' %}" alt="instagram">
                                                            </div>
                                                            <p>Инстаграм</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/3_Ok.svg' %}" alt="OK">
                                                            </div>
                                                            <p>OK</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/4_Telegram.svg' %}" alt="Telegram">
                                                            </div>
                                                            <p>Telegram</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/5_WhatsApp.svg' %}" alt="WhatsApp">
                                                            </div>
                                                            <p>WhatsApp</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/6_Viber.svg' %}" alt="Viber">
                                                            </div>
                                                            <p>Viber</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/7_YouTube.svg' %}" alt="YouTube">
                                                            </div>
                                                            <p>YouTube</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/8_rutube.svg' %}" alt="rutube">
                                                            </div>
                                                            <p>rutube</p>
                                                        </a>
                                                    </li>
                                                    <li class="secondBlock__list-item">
                                                        <a href="#">
                                                            <div class="secondBlock__list-item-imageWrapper">
                                                                <img src="{% static 'img/icons/9_email.svg' %}" alt="email">
                                                            </div>
                                                            <p>email</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                            <div class="secondBlock__instruction">
                                                <div class="instruction__title">
                                                    СЛЕДУЙ ИНСТРУКЦИИ
                                                </div>
                                                <ul class="instruction__list">
                                                    <li class="instruction__list-item">
                                                        1. Размести ссылку <br>
                                                        <a href="#">https://АНДРЕЙЛЕБЕДЬ.рф</a> в соцсети!
                                                    </li>
                                                    <li class="instruction__list-item">
                                                        2. Порекомендуй нас друзьям!
                                                    </li>
                                                    <li class="instruction__list-item">
                                                        3. Скидка твоему другу - <span>5%</span>
                                                    </li>
                                                    <li class="instruction__list-item">
                                                        4. Скидка тебе за друга - <span>10%</span>
                                                    </li>
                                                    <li class="instruction__list-item">
                                                        5. Куда нам отправить промокод?
                                                    </li>
                                                    <li class="instruction__list-item">
                                                        6. Заполни поля формы!
                                                    </li>
                                                </ul>
                                            </div>
                                            <form method="POST" action="/" class="secondBock__form-wrapper">
                                                <div class="secondBlock__first-form">
                                                    <div class="form-title">
                                                        Данные ТВОИ
                                                    </div>
                                                    <div class="form-input-wrapper">
                                                        <input type="text" name="name" id="#firstFormName" placeholder="Имя">
                                                        <input type="tel" name="phone" id="#firstFormPhone" placeholder="Телефон">
                                                        <input type="email" name="email" id="#firstFormEmail" placeholder="E-mail">
                                                    </div>
                                                </div>
                                                <div class="secondBlock__second-form">
                                                    <div class="form-title">
                                                        Данные ДРУГА
                                                    </div>
                                                    <div class="form-input-wrapper">
                                                        <input type="text" name="name" id="#secondFormName" placeholder="Имя друга">
                                                        <input type="tel" name="phone" id="#secondFormPhone" placeholder="Телефон друга">
                                                        <input type="email" name="email" id="#secondFormEmail" placeholder="E-mail друга">
                                                    </div>
                                                </div>
                                                <div class="form__subTitle">
                                                    <span>
                                                    Все поля обязательны для заполнения!
                                                    </span>
                                                    <span>
                                                    Скидка 300 рублей за заказ от 3 000 рублей
                                                    </span>
                                                </div>
                                                <button type="submit" class="secondBlock__form-btn">
                                                    Отправить
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn__drop-down-present">
                                    <div class="drop__down-present-wrapper">
                                        <div class="drop__down-present-firstBlock">
                                            <div class="present__firstBlock-image">
                                                <img src="{% static 'img/dropDownImage.png' %}" alt="dropDownImage">
                                            </div>
                                        </div>
                                        <div class="present__secondBlock">
                                            <div class="present__secondBlock-title">
                                                ЗАПОЛНИ  ПОЛЯ
                                            </div>
                                            <form method="POST" action="/" class="present__secondBlock-form">
                                                <input type="text" name="name" id="#presentFormName" placeholder="ИМЯ *">
                                                <input type="email" name="email" id="#presentFormEmail" placeholder="E-mail *">
                                                <input type="tel" name="phone" id="#presentFormPhone" placeholder="Телефон">
                                                <div class="form__date-wrap">
                                                    <div class="form__date-title">
                                                        Дата
                                                    </div>
                                                    <input type="date" name="presentDate" id="#presentFormDate" placeholder="Дата 1">
                                                </div>
                                                <div class="form__who-wrap">
                                                    <div class="form__who-title">
                                                        Кому
                                                    </div>
                                                    <select>
                                                        <option>
                                                            Себе
                                                        </option>
                                                        <option>
                                                            что-то
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form__occasion-wrap">
                                                    <div class="occasion__title">
                                                        Повод
                                                    </div>
                                                    <select>
                                                        <option>
                                                            День рождения
                                                        </option>
                                                        <option>
                                                            Годовщина
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form__order-wrap">
                                                    <div class="form__order-title">
                                                        Что хотите заказать
                                                    </div>
                                                    <select>
                                                        <option>
                                                            Запоминающийся подарок
                                                        </option>
                                                        <option>
                                                            Обычный подарок
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form__about">
                                                    <div class="form__about-title">
                                                        Срок изготовления 3-30 дней *
                                                    </div>
                                                    <p class="form__about-text">
                                                        * Не забудьте учесть время на доставку подарка в ваш город
                                                    </p>
                                                </div>
                                                <div class="form__remind-wrap">
                                                    Напомнить за <select>
                                                    <option>
                                                        30
                                                    </option>
                                                    <option>
                                                        60
                                                    </option>
                                                </select>
                                                    дней
                                                </div>
                                                <div class="form__remind-everyYears">
                                                    <input type="checkbox" name="remindEveryYears" id="#remindEverYears">
                                                    <label for="#remindEverYears">Напоминать ежегодно</label>
                                                </div>
                                                <button type="submit" class="present__form-btn">
                                                    Напомнить о Подарке
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__about-work-mini-wrapper">
                        <div class="header__about-work">
                            <div class="header__about-item">
                                ОБРАБОТКА ФОТО <span>|</span> ФОТОКНИГА <span>|</span> СЛАЙД-ШОУ <span>|</span>
                            </div>
                            <div class="header__about-item">
                                ФОТО/ВИДЕО СЪЕМКА <span>|</span> МОНТАЖ <span>|</span> ВИДЕОРОЛИК
                            </div>
                        </div>
                        <div class="header__discounts-button">
                            СКИДКИ 2+
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="main__wrapper">
                <div class="container">
                    <nav class="main__header-nav-list">
                        <ul class="main__nav-list">
                            <li class="main__nav-list-item">
                                <a href="#">
                                    ГЛАВНАЯ
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    О СЕБЕ
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    ВОПРОС - ОТВЕТ
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    СЕРТЕФИКАТ
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    ОТЗЫВЫ
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    РАБОТА
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    ПРАЙС
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    КАРТА САЙТА
                                </a>
                            </li>
                            <li class="main__nav-list-item">
                                <a href="#">
                                    КОНТАКТЫ
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="main__slider">
                    <div class="main__slider-action">
                        <div class="slider__action-prev">
                            <img src="{% static 'img/abcLeft.png' %}" alt="abcLeft">
                        </div>
                        <div class="slider__action-next">
                            <img src="{% static 'img/abc.png' %}" alt="abc">
                        </div>
                    </div>
                    <div class="main__slider-wrapper">

                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/discountsModal.js' %}"></script>
</body>
</html>