.header__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__about-wrapper{
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 30px;
}
.header__logo{
  margin-bottom: 15px;
  flex: 1 1 500px;
  & img{
    width: 100%;
    height: 100%;
  }
}
.header__image-wrapper{
  display: none;
}
.header__nav-service-btn{
  display: none;
}
.header__nav-discount-btn{
  display: none;
}
.header__about-work{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__nav-phone-btn{
  display: none;
}
.header__about-works-wrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-between;
  & .header__logo{
    display: none;
  }
}
.header__about-item {
  display: flex;
  gap: 8px;
  font-family: Cambria;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 23.83px;
  color: yellow;
}
.header__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  & a {
    font-family: Tahoma;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.83px;
    color: white;
    & span {
      color: #afc8ff;
    }
  }
}
.secondBlock__second-form{
  margin-top: 10px;
}
.header__btn-wrapper{
  display: flex;
  gap: 30px;
  position: relative;
}
.header__nav-mobile-wrap{
  position: relative;
  display: none;
}
.header__nav-list-mobile{
  display: none;
}
.header__nav-active{
  display: block !important;
}
.header__nav-mobile-btn{
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  padding: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(50 0 0);
  text-align: center;
  position: relative;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  cursor: pointer;
  &::after{
    content: url(../img/icons/dropDownIcon.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 8px;
  }
}
.header__nav-list-mobile{
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 30;
}
.header__nav-list-item-mobile{
  padding: 5px 5px 5px 10px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  cursor: pointer;
  background-image: linear-gradient(0deg, #3d0101 0%, #bb0101 100%);
  &:hover{
    background: #3d0000;
  }
  & a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
}

.header__about-work-mini-wrapper{
  & .header__discounts-button{
    display: none;
  }
}
.form__date-wrap{
  & input {

  }
}
.header__remind-present-button {
  cursor: pointer;
  padding: 21px;
  //background-image: linear-gradient(0deg, #850202 0%, #ff0000 53%, #a01600 100%);
  background: linear-gradient(0deg, rgba(125,2,2,1) 34%, rgba(223,3,0,1) 73%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgba(50, 0, 0, 1);
}
.header__discounts-button{
  cursor: pointer;
  padding: 21px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(0deg, rgba(125,2,2,1) 34%, rgba(223,3,0,1) 73%);
  //background-image: linear-gradient(0deg, #850202 0%, #ff0000 53%, #a01600 100%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  width: 237px;
  height: 65px;
  text-shadow: 2px 2px 2px rgba(50, 0, 0, 1);
}
.header__nav-wrapper{
  padding: 0 30px;
}
.header__nav-list{
  display: flex;
  width: 100%;
  //gap: 100px;
  cursor: pointer;
  justify-content: space-between;
  & a {
    font-family: Tahoma;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: white;
  }
  & .header__nav-list-item{
    flex: 1 1 auto;
    text-align: center;
    padding: 5px;
    &:hover{
      background: linear-gradient(to bottom, #d20300, #710909);
    }
  }
}
.header__about-work-mini-wrapper{
  display: none;
}

@media (max-width: 1919px) {
  .header__about-wrapper{
    padding: 0 20px;
    gap: 20px;
  }
  .header__nav-wrapper {
    padding: 0 20px;
  }
  .header__about-work{
    display: none;
  }
  .header__logo{
    display: none;
  }
  .header__about-works-wrapper{
    gap: 20px;
    align-items: center;
    margin-bottom: 0;
    & .header__logo{
      display: block;
      flex:  1 1 auto;
    }
  }
  .header__btn-wrapper{
    margin-bottom: 30px;
    gap: 20px;
  }
  .header__phone{
    margin-bottom: 30px;
  }
  .header__nav-list{
    //column-gap: 50px;
  }
  .header__remind-present-button{
    padding: 9px;
  }
  .header__phone{
    gap: 30px;
  }
  .header__discounts-button{
    width: 170px;
  }
  .header__about-work-mini-wrapper{
    padding: 0 20px;
    display: block;
    margin-bottom: 35px;
    & .header__about-work{
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
  .header__about-wrapper{
    margin-bottom: 0px;
  }
  .header__phone{
    flex-direction: row;
  }
}
@media (max-width: 1365px) {
  .header__phone{
    gap: 20px;
    flex-direction: column;
    & a {
      font-size: 18px;
    }
  }
  .header__nav-wrapper{
    padding: 0 20px;
  }
  .header__nav-list{
    //gap: 35px;
    & a{
      font-size: 14px;
    }
  }
  .header__about-work{
    gap: 6px;
  }
  .header__about-item{
    font-size: 20px;
  }
  .header__remind-present-button{
    font-size: 18px;
  }
  .header__discounts-button{
    font-size: 18px;
    width: 130px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo{
    display: none;
    width: 100%;
  }
  .header__about-works-wrapper{
    margin-bottom: 0px;
    & .header__logo{
      display: block;
      max-width: 310px;
    }
  }
  .header__about-work-mini-wrapper{
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  .header__about-wrapper{
    column-gap: 15px;
  }
  .header__logo{
    display: none;
  }
  .header__about-works-wrapper{
    column-gap: 15px;
    margin-bottom: 0px;
  }
  .header__about-wrapper{
    margin-bottom: 0;
  }
  .header__discounts-button{
    display: none;
  }
  .secondBlock__nav-list{
    column-gap: 0;
  }
  .header__about-work-mini-wrapper{
    display: flex;
    justify-content: space-between;
    & .header__about-work{
      flex-direction: column;
    }
    & .header__discounts-button{
      display: flex;
      flex-basis: 245px;
      font-size: 16px;
    }
  }
  .header__remind-present-button{
    font-size: 16px;
    flex: 1 1 auto;
  }
  .header__discounts-button{
    font-size: 16px;
  }
  .header__phone{
    margin-bottom: 30px;
    & a {
      font-size: 14px;
    }
  }
  .header__nav-list{
    //column-gap: 36px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__about-item{
    font-size: 18px;
  }
  .header__btn-wrapper{
    flex-basis: 245px;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  header{
    border: none;
  }
  .header__about-wrapper{
    padding: 0;
  }
  .header__about-works-wrapper{
    & .header__logo{
      display: none;
      max-width: 310px;
    }
  }
  .header__wrapper{
    padding-bottom: 0;
  }
  .header__logo{
    display: block;
    flex-basis: 0;
  }
  .header__about-work-mini-wrapper{
    display: none;
  }
  .header__nav-mobile-wrap{
    display: block;
  }
  .header__btn-wrapper{
    margin-bottom: 15px;
  }
  .header__about-work{
    display: flex;
  }
  .header__btn-wrapper{
    flex-basis: 0;
  }
  .header__about-wrapper{
    flex-direction: column;
    gap: 0;
  }
  .header__about-works-wrapper{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
  }
  .header__phone{
    flex-direction: row;
    margin: 0;
  }
  .header__discounts-button{
    display: flex;
  }
  .header__btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .header__discounts-button{
    flex: 1 1 auto;
  }
  .header__remind-present-button{
    flex: 0 1  auto;
  }
  .header__about-item{
    gap: 5px;
    font-size: 16px;
  }

  .btn__image-wrapper{
    border: 8px solid transparent;
    border-top: 12px solid #fbf0c9;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .header__nav-phone-btn{
    display: flex;
    justify-content: center;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    position: relative;
  }
  .btn__text{
    font-family: Tahoma;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }
  .header__nav-wrapper{
    position: relative;
    padding: 0;
  }
  .header__nav-btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header__nav-list{
    display: none;
    max-width: 216px;
    background: linear-gradient(to right, #270000, #760a0a);
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 26px;
    left: 20px;
  }
  .header__nav-list-item{
    padding: 5px;
    background: linear-gradient(to bottom, #da0601, #390505);
    &:hover{
      background: #3c0000;
    }
  }
  .header__image-wrapper{
    display: block;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  .header__nav-service-btn{
    display: flex;
    justify-content: flex-start;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    padding-left: 10px;
    position: relative;
  }
  .header__nav-discount-btn{
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    position: relative;
  }
}
@media (max-width: 479px) {
  .header__about-item{
    flex-wrap: wrap;
    font-size: 14px;
  }
  .header__btn-wrapper{
    flex-direction: column;
    align-items: center;
  }
  .header__discounts-button{
    width: 100%;
    height: 53px;
    font-size: 14px;
  }
  .header__remind-present-button{
    width: 100%;
    height: 53px;
    font-size: 14px;
  }
  .header__nav-mobile-btn{
    font-size: 14px;
  }
  .header__nav-list{
    max-width: 280px;
  }
  .drop__down-present-wrapper{
    max-width: 100%;
  }
  .present__firstBlock-image{
    max-width: 284px;
  }
  .header__about-wrapper{
    gap: 0px;
    padding: 0;
  }
  .header__about-works-wrapper{
    gap: 10px;
  }
  .header__about-work{
    gap: 5px;
  }
  .header__phone{
    gap: 0px;
    justify-content: space-evenly;
    width: 100%;
    & a {
      //font-size: 12px;
    }
  }
  .header__wrapper{
    padding-bottom: 0;
  }
}
@media (max-width: 340px) {
  .header__phone{
    width: 100%;
    justify-content: space-between;
  }
}
