.main__content-block {
  //flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.main__content-block-wrapper {
  padding: 0 80px;
}

.main__content-service-block-mini {
  background: #320000;
  min-height: 100vh;
  min-width: 330px;
  top: 34px;
  left: 0;
}

.main__content-block-page-navigation {
  padding-top: 30px;

  & a {
    font-size: 14px;
    color: #f0e6be;
    font-family: "Verdana";
  }
}

.main__content-block-service-sale-btn {
  //padding-top: 10px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  position: relative;
  z-index: 20;
}

.main__content-block-service-btn {
  display: none;
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-family: "Verdana";
  text-shadow: 2px 2px 2px rgb(50 0 0);
  background: linear-gradient(0deg, rgba(125, 2, 2, 1) 34%, rgba(223, 3, 0, 1) 73%);

  &:after {
    content: url(../img/icons/dropDownIcon.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.main__content-service-block-btn {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  max-width: 330px;
  background: #3c0000;
  z-index: 15;
  min-height: 100vh;
}

.main__content-sale-block-btn {
  display: none;
  position: absolute;
  top: 34px;
  right: 0;
  width: 100%;
  max-width: 330px;
  background: #3c0000;
  z-index: 15;
  min-height: 100vh;
}

.mainBtnActive {
  display: block;
}

.main__content-block-sale-btn {
  display: none;
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, rgba(125, 2, 2, 1) 34%, rgba(223, 3, 0, 1) 73%);
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-family: "Verdana";
  text-shadow: 2px 2px 2px rgb(50 0 0);
  position: relative;

  &:after {
    content: url(../img/icons/dropDownIcon.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.main__content-block-mini-slider-wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mini__slider-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 35px;
}

.mini__slider-item-title {
  font-size: 35px;
  text-align: center;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
}

.main__slider-item-sub-title {
  font-size: 25px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.main__content-block-mini-sliders {
  margin-top: 40px;
  max-width: 1160px;
}

.main__content-block-mini-sliders-wrapper {
  display: flex;
  flex-direction: column;
  //gap: 40px;
}

.mini__slider-wrapper {
  //max-width: 1200px;
}

//.mini__swiper-wrapper {
//  overflow: hidden;
//}
//.mini__swiper-wrapper{
//  gap: 60px !important;
//}
.mini__swiper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 12px;
  position: relative;
}

.mini__swiper-item-text {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & p {
    font-size: 14px;
    color: #ffff00;
    font-family: "Roboto";
    text-align: center;
    font-weight: 400;
    font-style: normal;
  }
}

.mini__swiper-item-image {
  width: 100%;
  border: 1px solid #fcff02;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    //width: 350px !important;
    //transition: 0.5s;
    //max-height: 200px !important;
  }
}

.main__content-block-mini-slider-item {
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #643c3c;
  position: relative;
}

.mini__slider-arrow-wrapper {
  position: absolute;
  top: 38%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mini__slider-prev {
  width: 30px;
  height: 80px;
  position: absolute;
  left: -30px;
  cursor: pointer;

  &:after {
    content: '';
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.mini__slider-next {
  width: 30px;
  height: 80px;
  position: absolute;
  right: -40px;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
  }
}

.video__slider-block {
  max-width: 1160px;
  padding-bottom: 30px;
  border-bottom: 1px solid #643c3c;
  position: relative;
}

.video__slider-arrow-wrapper {
  position: absolute;
  top: 38%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.video__slider-prev {
  position: absolute;
  left: -40px;
  width: 30px;
  height: 80px;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
  }
}

.video__slider-next {
  position: absolute;
  width: 40px;
  height: 80px;
  right: -40px;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
  }
}

.social__slider-block {
  max-width: 1160px;
  padding-bottom: 30px;
  border-bottom: 1px solid #643c3c;
  position: relative;
}

.social__slider-arrow-wrapper {
  position: absolute;
  top: 55%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social__slider-prev {
  position: absolute;
  left: -40px;
  width: 30px;
  height: 80px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.social__slider-next {
  position: absolute;
  width: 40px;
  height: 80px;
  right: -40px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.social__slider-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 35px;

  & p {
    font-size: 35px;
    line-height: 52px;
    color: #ffff00;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
  }
}

.video__slider-block-title {
  font-size: 35px;
  line-height: 52px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 35px;
  margin-top: 60px;
}

.video__slider-block-slider-slide-wrapper {

}

.video__slider-block-slider-slide {
  padding: 0 20px;

  & iframe {
    width: 100%;
    height: 216px !important;
  }
}

.video__slider-block-slider-slide-text {
  margin-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & p {
    font-size: 14px;
    line-height: 20px;
    color: #fff0c8;
    font-family: "Verdana";
    font-weight: 400;
  }
}

.social__block-slider-wrapper {
  position: relative;
}

.social__block-slider-item-btn {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  width: 161px;
  font-size: 18px;
  color: #ffffff;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
}

.social__block-slider-item-btn-image {
  width: 20px;
  height: 20px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper__slide-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.social__block-slider-item {
  padding: 0 20px;
}

.social__block-slider-item-img {
  width: 100%;
  height: 400px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1919px) {
  //.main__content-block{
  //  width: 100%;
  //}
  .main__content-block-mini-sliders {
    max-width: 1000px;
  }
  .social__slider-block {
    max-width: 1000px;
  }
  .video__slider-prev {
    height: 50px;
    left: -30px;
  }
  .video__slider-next {
    height: 50px;
  }
  .social__slider-next {
    height: 50px;
  }
  .social__slider-prev {
    height: 50px;
    left: -30px;
  }
  .video__slider-block {
    max-width: 1000px;
  }
  .video__slider-block-slider-slide-wrapper {
    max-width: 310px;
  }
  .main__content-block-wrapper {
    padding: 0 30px;
  }
  .main__content-block-page-navigation {
    padding-left: 60px;
  }
  .mini__slider-prev {
    height: 50px;
    left: -25px;
  }
  .mini__slider-next {
    height: 50px;
    right: -25px;
  }
  .main__content-block-sale-btn {
    display: block;
    max-width: 330px;
  }
  .main__content-block-service-btn {
    display: none;
    max-width: 330px;
  }
  .main__content-block-service-sale-btn {
    justify-content: flex-end;
  }
}

@media (max-width: 1365px) {
  .main__content-block-service-sale-btn {
    margin-top: 50px;
    justify-content: space-between;
  }
  .main__content-block-service-btn {
    display: block;
    max-width: 330px;
  }
  .main__content-block-mini-sliders {
    max-width: 100%;
  }
  .video__slider-next {
    right: -30px;
  }
  .social__slider-next {
    right: -30px;
  }
}

@media (max-width: 1023px) {
  //.main__content-block-mini-sliders{
  //  max-width: 700px;
  //}
  .social__slider-arrow-wrapper {
    top: 65%;
  }
  .video__slider-block-slider-slide-wrapper {
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  .main__content-block-service-sale-btn {
    flex-direction: column;
    gap: 25px;
  }
  .main__content-block-service-btn {
    max-width: 100%;
  }
  .main__content-block-sale-btn {
    max-width: 100%;
  }
  .video__slider-block-slider-slide-wrapper {
    max-width: 100%;
  }
  .mini__swiper-item-image {
    max-width: 100%;
    width: 100%;
  }
  .main__content-block-mini-sliders {
    max-width: 100%;
  }
  .main__content-sale-block-btn {
    max-width: 100%;
    top: 92px;
  }
  //.mini__swiper-wrapper{
  //  gap: 20px;
  //}
  .main__content-block-wrapper {
    padding: 0;
  }
  .mini__slider-arrow-wrapper {
    display: none;
  }
  .main__content-block-page-navigation {
    padding-left: 0;
    padding-top: 20px;
  }
  .main__content-block-mini-sliders {
    margin-top: 20px;
  }
  .mini__slider-item-title {
    font-size: 24px;
  }
  .main__content-service-block-btn {
    max-width: 100%;
  }
  .video__slider-arrow-wrapper {
    display: none;
  }
  .video__slider-block-title {
    font-size: 24px;
  }
  .social__slider-title {
    & p {
      font-size: 24px;
    }
  }
}

@media (max-width: 576px) {
  .mini__swiper-item {
    padding: 0 10px;
  }
  .video__slider-block-slider-slide{
    padding: 0 10px;
  }
  .social__block-slider-item{
    padding: 0 10px;
  }
}