body {
  height: 2000px;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
}

.main__container {
  max-width: 1920px;
  margin: 0 auto;
}

.container__header {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1919px) {
  .container {
    max-width: 1366px;
  }
  .main__container {
    max-width: 1366px;
  }
  .container__header {
    max-width: 1366px;
  }
}
@media (max-width: 1365px) {
  .container {
    max-width: 1140px;
  }
  .main__container {
    max-width: 1140px;
  }
  .container__header {
    max-width: 1140px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 850px;
  }
  .main__container {
    max-width: 850px;
  }
  .container__header {
    max-width: 850px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
    padding: 0 15px;
  }
  .main__container {
    max-width: 540px;
    padding: 0 15px;
  }
  .container__header {
    max-width: 540px;
    padding: 0 15px;
  }
}
.header__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__about-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 30px;
}

.header__logo {
  margin-bottom: 15px;
  flex: 1 1 500px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.header__image-wrapper {
  display: none;
}

.header__nav-service-btn {
  display: none;
}

.header__nav-discount-btn {
  display: none;
}

.header__about-work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__nav-phone-btn {
  display: none;
}

.header__about-works-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-between;
}
.header__about-works-wrapper .header__logo {
  display: none;
}

.header__about-item {
  display: flex;
  gap: 8px;
  font-family: Cambria;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 23.83px;
  color: yellow;
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header__phone a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: white;
}
.header__phone a span {
  color: #afc8ff;
}

.secondBlock__second-form {
  margin-top: 10px;
}

.header__btn-wrapper {
  display: flex;
  gap: 30px;
  position: relative;
}

.header__nav-mobile-wrap {
  position: relative;
  display: none;
}

.header__nav-list-mobile {
  display: none;
}

.header__nav-active {
  display: block !important;
}

.header__nav-mobile-btn {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  padding: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  text-align: center;
  position: relative;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  cursor: pointer;
}
.header__nav-mobile-btn::after {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 8px;
}

.header__nav-list-mobile {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 11;
}

.header__nav-list-item-mobile {
  padding: 5px 5px 5px 10px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  cursor: pointer;
  background-image: linear-gradient(0deg, #3d0101 0%, #bb0101 100%);
}
.header__nav-list-item-mobile:hover {
  background: #3d0000;
}
.header__nav-list-item-mobile a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.header__about-work-mini-wrapper .header__discounts-button {
  display: none;
}

.header__remind-present-button {
  cursor: pointer;
  padding: 21px;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
}

.header__discounts-button {
  cursor: pointer;
  padding: 21px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  width: 237px;
  height: 65px;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
}

.header__nav-wrapper {
  padding: 0 30px;
}

.header__nav-list {
  display: flex;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
}
.header__nav-list a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
}
.header__nav-list .header__nav-list-item {
  flex: 1 1 auto;
  text-align: center;
  padding: 5px;
}
.header__nav-list .header__nav-list-item:hover {
  background: linear-gradient(to bottom, #d20300, #710909);
}

.header__about-work-mini-wrapper {
  display: none;
}

@media (max-width: 1919px) {
  .header__about-wrapper {
    padding: 0 20px;
    gap: 20px;
  }
  .header__nav-wrapper {
    padding: 0 20px;
  }
  .header__about-work {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__about-works-wrapper {
    gap: 20px;
    align-items: center;
    margin-bottom: 0;
  }
  .header__about-works-wrapper .header__logo {
    display: block;
    flex: 1 1 auto;
  }
  .header__btn-wrapper {
    margin-bottom: 30px;
    gap: 20px;
  }
  .header__phone {
    margin-bottom: 30px;
  }
  .header__remind-present-button {
    padding: 9px;
  }
  .header__phone {
    gap: 30px;
  }
  .header__discounts-button {
    width: 170px;
  }
  .header__about-work-mini-wrapper {
    padding: 0 20px;
    display: block;
    margin-bottom: 35px;
  }
  .header__about-work-mini-wrapper .header__about-work {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .header__about-wrapper {
    margin-bottom: 0px;
  }
  .header__phone {
    flex-direction: row;
  }
}
@media (max-width: 1365px) {
  .header__phone {
    gap: 20px;
    flex-direction: column;
  }
  .header__phone a {
    font-size: 18px;
  }
  .header__nav-wrapper {
    padding: 0 20px;
  }
  .header__nav-list a {
    font-size: 14px;
  }
  .header__about-work {
    gap: 6px;
  }
  .header__about-item {
    font-size: 20px;
  }
  .header__remind-present-button {
    font-size: 18px;
  }
  .header__discounts-button {
    font-size: 18px;
    width: 130px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    display: none;
    width: 100%;
  }
  .header__about-works-wrapper {
    margin-bottom: 0px;
  }
  .header__about-works-wrapper .header__logo {
    display: block;
    max-width: 310px;
  }
  .header__about-work-mini-wrapper {
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  .header__about-wrapper {
    column-gap: 15px;
  }
  .header__logo {
    display: none;
  }
  .header__about-works-wrapper {
    column-gap: 15px;
    margin-bottom: 0px;
  }
  .header__about-wrapper {
    margin-bottom: 0;
  }
  .header__discounts-button {
    display: none;
  }
  .secondBlock__nav-list {
    column-gap: 0;
  }
  .header__about-work-mini-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__about-work-mini-wrapper .header__about-work {
    flex-direction: column;
  }
  .header__about-work-mini-wrapper .header__discounts-button {
    display: flex;
    flex-basis: 245px;
    font-size: 16px;
  }
  .header__remind-present-button {
    font-size: 16px;
    flex: 1 1 auto;
  }
  .header__discounts-button {
    font-size: 16px;
  }
  .header__phone {
    margin-bottom: 30px;
  }
  .header__phone a {
    font-size: 14px;
  }
  .header__nav-list {
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__about-item {
    font-size: 18px;
  }
  .header__btn-wrapper {
    flex-basis: 245px;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  header {
    border: none;
  }
  .header__about-wrapper {
    padding: 0;
  }
  .header__about-works-wrapper .header__logo {
    display: none;
    max-width: 310px;
  }
  .header__wrapper {
    padding-bottom: 0;
  }
  .header__logo {
    display: block;
    flex-basis: 0;
  }
  .header__about-work-mini-wrapper {
    display: none;
  }
  .header__nav-mobile-wrap {
    display: block;
  }
  .header__btn-wrapper {
    margin-bottom: 15px;
  }
  .header__about-work {
    display: flex;
  }
  .header__btn-wrapper {
    flex-basis: 0;
  }
  .header__about-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .header__about-works-wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
  }
  .header__phone {
    flex-direction: row;
    margin: 0;
  }
  .header__discounts-button {
    display: flex;
  }
  .header__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .header__discounts-button {
    flex: 1 1 auto;
  }
  .header__remind-present-button {
    flex: 0 1 auto;
  }
  .header__about-item {
    gap: 5px;
    font-size: 16px;
  }
  .btn__image-wrapper {
    border: 8px solid transparent;
    border-top: 12px solid #fbf0c9;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .header__nav-phone-btn {
    display: flex;
    justify-content: center;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    position: relative;
  }
  .btn__text {
    font-family: Tahoma;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }
  .header__nav-wrapper {
    position: relative;
    padding: 0;
  }
  .header__nav-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header__nav-list {
    display: none;
    max-width: 216px;
    background: linear-gradient(to right, #270000, #760a0a);
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 26px;
    left: 20px;
  }
  .header__nav-list-item {
    padding: 5px;
    background: linear-gradient(to bottom, #da0601, #390505);
  }
  .header__nav-list-item:hover {
    background: #3c0000;
  }
  .header__image-wrapper {
    display: block;
  }
  .header__image-wrapper img {
    width: 100%;
    height: 100%;
  }
  .header__nav-service-btn {
    display: flex;
    justify-content: flex-start;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    padding-left: 10px;
    position: relative;
  }
  .header__nav-discount-btn {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    height: 25px;
    background: linear-gradient(to bottom, #d20300, #710909);
    align-items: center;
    position: relative;
  }
}
@media (max-width: 479px) {
  .header__about-item {
    flex-wrap: wrap;
    font-size: 14px;
  }
  .header__btn-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .header__discounts-button {
    width: 100%;
    height: 53px;
    font-size: 14px;
  }
  .header__remind-present-button {
    width: 100%;
    height: 53px;
    font-size: 14px;
  }
  .header__nav-mobile-btn {
    font-size: 14px;
  }
  .header__nav-list {
    max-width: 280px;
  }
  .drop__down-present-wrapper {
    max-width: 100%;
  }
  .present__firstBlock-image {
    max-width: 284px;
  }
  .header__about-wrapper {
    gap: 0px;
    padding: 0;
  }
  .header__about-works-wrapper {
    gap: 10px;
  }
  .header__about-work {
    gap: 5px;
  }
  .header__phone {
    gap: 0px;
    justify-content: space-evenly;
    width: 100%;
  }
  .header__wrapper {
    padding-bottom: 0;
  }
}
@media (max-width: 340px) {
  .header__phone {
    width: 100%;
    justify-content: space-between;
  }
}
.main__wrapper {
  position: relative;
}

.main__nav-list {
  display: none;
  justify-content: space-between;
  flex: 1 1 auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.main__nav-list-item {
  flex: 1 1 auto;
  text-align: center;
  background: linear-gradient(to bottom, #d20300, #710909);
  border-right: 1px solid black;
}
.main__nav-list-item:hover {
  background: #3c0000;
}
.main__nav-list-item a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
}

.main__content-wrapper {
  display: flex;
}

.main__slider {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}
.main__slider .swiper-pagination {
  bottom: -35px;
}
.main__slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid white;
}

.main__slider .swiper-button-next {
  display: none;
}
.main__slider .swiper-button-prev {
  display: none;
}

.main__slider-slide {
  position: relative;
}

.main__slider-slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__slider-slide-link {
  padding-left: 60px;
  max-width: 1030px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: rgb(255, 255, 255);
  position: absolute;
  line-height: 1.55;
  bottom: 43px;
  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px 2px rgba(0, 9, 0, 0.62);
}

.main__slider-action {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 0 30px;
  top: 35%;
}
.main__slider-action .container {
  width: 100%;
  height: 100%;
}

.slider__action-prev {
  width: 50px;
  cursor: pointer;
  position: absolute;
  left: 30px;
}
.slider__action-prev img {
  width: 100%;
  height: 100%;
}

.slider__action-next {
  cursor: pointer;
  width: 50px;
  position: absolute;
  right: 30px;
}
.slider__action-next img {
  width: 100%;
  height: 100%;
}

.main__slider-zoomWindow {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 5;
  display: none;
}

.btn__drop-down-present-hover {
  display: none;
}

.btn__drop-down-menu-hover {
  display: none;
}

.main__slider-application {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  z-index: 4;
  border-right: 1px solid #ffff00;
  border-left: 1px solid #ffff00;
  width: 190px;
}
.main__slider-application:hover .main__slider-application-drop {
  display: block;
}

.main__slider-application-drop {
  display: none;
}

.main__slider-application-default {
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid #ffff00;
  text-align: center;
}
.main__slider-application-default a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #ffff00;
}

.application__drop-item {
  border-top: 1px solid #ffff00;
  border-bottom: 1px solid #ffff00;
  cursor: pointer;
  padding: 10px 10px 10px 30px;
}
.application__drop-item a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #ffff00;
}

.main__slider-application-mobile-wrap {
  margin-top: 15px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.main__slider-application-mobile {
  border-right: 1px solid #ffff00;
  border-left: 1px solid #ffff00;
  background: red;
  width: 190px;
}

.main__slider-application-mobile-wrap {
  display: none;
}

@media (max-width: 1919px) {
  .main__slider-slide-link {
    font-size: 40px;
    padding: 0;
  }
  .slider__action-prev {
    width: 50px;
    height: 160px;
  }
  .slider__action-next {
    width: 50px;
    height: 160px;
  }
}
@media (max-width: 1365px) {
  .slider__action-next {
    width: 40px;
    height: 95px;
  }
  .slider__action-prev {
    width: 40px;
    height: 95px;
  }
}
@media (max-width: 1023px) {
  .main__slider-slide-link {
    font-size: 24px;
    bottom: 20px;
  }
  .main__slider-action {
    padding: 0 50px;
  }
  .slider__action-prev {
    width: 25px;
    height: 75px;
  }
  .slider__action-next {
    width: 25px;
    height: 75px;
  }
}
@media (max-width: 767px) {
  .main__slider-slide-link {
    font-size: 18px;
    max-width: 300px;
    padding: 0;
  }
  .slider__action-next {
    width: 20px;
    height: 50px;
  }
  .slider__action-prev {
    width: 20px;
    height: 50px;
  }
  .main__slider {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
  }
  .main__slider .swiper-pagination {
    bottom: -20px;
  }
  .main__slider .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid white;
  }
  .main__slider-application {
    display: none;
  }
  .main__slider-application-mobile-wrap {
    display: flex;
    position: relative;
  }
  .main__slider-application-mobile-wrap:hover .main__slider-application-drop {
    position: absolute;
    top: 45px;
    width: 100%;
    max-width: 189px;
    display: block;
    z-index: 10;
    background: red;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow;
  }
}
@media (max-width: 479px) {
  .item__image img {
    height: 100%;
  }
  .main__slider-slide-link {
    font-size: 14px;
    max-width: 300px;
    bottom: 15px;
  }
}
.btn__drop-down-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 40;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

.btn__drop-down-present {
  width: 100%;
  height: 100%;
  z-index: 40;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: none;
  overflow-y: auto;
}

.btn__drop-down-present.btn__drop-down-present-active {
  display: flex;
}

.btn__drop-down-menu.btn__drop-down-menu-active {
  display: flex;
}

.drop-down-menu-wrapper {
  display: flex;
  max-width: 590px;
  width: 100%;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 0, 0) 0%, rgb(76, 0, 0) 35%, rgb(138, 3, 2) 100%);
  border-radius: 55px 55px 55px 55px;
}

.close__modal {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.drop__down-present-wrapper {
  display: flex;
  width: 100%;
  max-width: 590px;
  border-radius: 55px 55px 55px 55px;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 0, 0) 0%, rgb(76, 0, 0) 35%, rgb(138, 3, 2) 100%);
}

.drop__down-present-firstBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.present__firstBlock-image {
  position: absolute;
  top: 0;
  width: 100%;
}
.present__firstBlock-image img {
  width: 100%;
  height: 100%;
}

.firstBlock__nav {
  height: 100%;
  border-radius: 0 0 0 55px;
  padding-top: 20px;
}

.drop__down-menu-firstBlock {
  border-radius: 55px 0 0 55px;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
}

.firstBlock__title-Wrapper {
  padding-top: 25px;
  width: 100%;
  padding-bottom: 125px;
  border-radius: 55px 0 0 0;
  background: #490000;
}

.firstBlock__title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.83px;
  color: #ffff00;
  text-align: center;
}
.firstBlock__title span {
  font-size: 18px;
}

.firstBlock__image {
  width: 100%;
  position: absolute;
  max-width: 300px;
  top: 87px;
  left: 0;
  padding: 0 10px;
}
.firstBlock__image img {
  width: 100%;
}

.drop__down-menu-secondBlock {
  padding-bottom: 20px;
  border-radius: 0 55px 55px 0px;
  width: 100%;
}

.present__secondBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  min-width: 290px;
  border-radius: 0 55px 55px 0;
}

.drop__downBlock {
  width: 100%;
}

.present__secondBlock-title {
  font-family: Verdana;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36.83px;
  color: #ffff00;
  text-align: right;
}

.present__secondBlock-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}
.present__secondBlock-form span {
  color: #ffff00;
}
.present__secondBlock-form input {
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  width: 100%;
}
.present__secondBlock-form input::placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.form__who-select {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  position: relative;
  cursor: pointer;
}
.form__who-select:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.form__who-select-hover {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  position: relative;
  cursor: pointer;
}
.form__who-select-hover:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.who__selected-choice {
  position: absolute;
  top: 30px;
  left: -1px;
  width: 101%;
  background: #f0e6be;
  overflow-y: auto;
  display: none;
  z-index: 2;
}

.selectActive {
  display: block !important;
}

.selected__choice-item {
  color: #3c0000;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  padding: 5px;
  cursor: pointer;
}
.selected__choice-item:hover {
  background: #460000;
  color: #fff0c8;
}

.form__occasion-select {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  position: relative;
  cursor: pointer;
}
.form__occasion-select:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.form__occasion-select-hover {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  position: relative;
  cursor: pointer;
}
.form__occasion-select-hover:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.occasion__selected {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.occasion__selected-hover {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.occasion__selected-choice {
  position: absolute;
  top: 30px;
  left: -1px;
  width: 101%;
  background: #f0e6be;
  overflow-y: auto;
  display: none;
  z-index: 2;
}

.form__order-select {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  position: relative;
  cursor: pointer;
}
.form__order-select:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.form__order-select-hover {
  width: 100%;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  position: relative;
  cursor: pointer;
}
.form__order-select-hover:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.form__remind-select {
  width: 60px;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 0 10px 0px 10px;
  position: relative;
  cursor: pointer;
}
.form__remind-select:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 4px;
}

.form__remind-select-hover {
  width: 60px;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 0 10px 0px 10px;
  position: relative;
  cursor: pointer;
}
.form__remind-select-hover:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 4px;
}

.form__remind-select-hover {
  width: 60px;
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 0 10px 0px 10px;
  position: relative;
  cursor: pointer;
}
.form__remind-select-hover:before {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 4px;
}

.order__selected {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.order__selected-hover {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.remind__selected {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.remind__selected-hover {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.order__selected-choice {
  position: absolute;
  top: 30px;
  left: -1px;
  width: 101%;
  background: #f0e6be;
  overflow-y: auto;
  display: none;
  z-index: 2;
}

.present__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.present__close img {
  width: 100%;
  height: 100%;
}

.remind__selected-choice {
  position: absolute;
  top: 25.5px;
  left: 0;
  width: 100%;
  background: #f0e6be;
  overflow-y: auto;
  display: none;
  z-index: 2;
}

.form__order-title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form__about-title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  margin-bottom: 5px;
}

.form__date-title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  margin-bottom: 5px;
  padding-left: 10px;
}

.occasion__title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  padding-left: 10px;
  margin-bottom: 5px;
}

.form__who-title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.83px;
  color: #ffff00;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form__about-text {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.83px;
  color: #fff0c8;
}

.secondBlock__title {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23.83px;
  color: #ffff00;
  text-align: center;
}
.secondBlock__title span {
  font-size: 14px;
}

.form__remind-wrap {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__who-wrap {
  margin-top: 5px;
}

.form__occasion-wrap {
  margin-top: 5px;
}

.form__order-wrap {
  margin-top: 5px;
}

.form__remind-everyYears {
  display: flex;
  margin: 20px 0;
}
.form__remind-everyYears input {
  width: 20px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__remind-everyYears label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form__remind-everyYears label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #fff0c8;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__remind-everyYears input:checked + label::before {
  background-image: url(../img/icons/checkBoxPNG.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.present__form-btn {
  padding: 6px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 2px 2.55px rgba(36, 0, 0, 0.93);
  width: 100%;
}

.secondBlock__nav {
  margin-top: 24px;
  padding: 0 20px;
}

.secondBlock__nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 12px;
  justify-content: space-between;
}

.secondBlock__list-item {
  width: 115px;
}
.secondBlock__list-item a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.secondBlock__list-item a p {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: rgb(255, 240, 200);
}

.secondBlock__list-item-imageWrapper {
  max-width: 30px;
  width: 30px;
}
.secondBlock__list-item-imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondBlock__instruction {
  margin-top: 21px;
  padding: 0 20px;
  margin-bottom: 15px;
}

.instruction__title {
  color: #ffff00;
  font-size: 14px;
  line-height: 1.571;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
}

.present__secondBlock-formFirstBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__about {
  margin-top: 10px;
}

.instruction__list-item {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.instruction__list-item::marker {
  padding-left: 20px;
}
.instruction__list-item span {
  color: #ffff00;
}
.instruction__list-item a {
  color: #bdd4fe;
}

.secondBock__form-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  color: #ffff00;
  margin-bottom: 3px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input-wrapper input {
  border: 1px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}
.form-input-wrapper input::placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.form__subTitle {
  margin-top: 10px;
}
.form__subTitle span {
  font-size: 11px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  line-height: 18.83px;
}

.secondBlock__form-btn {
  width: 100%;
  margin-top: 13px;
  padding: 10px 20px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  text-shadow: 0px 1px 2.49px rgba(50, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
}

.present__secondBlock-text-wrapper {
  padding-top: 115px;
  height: 100%;
}

.present__secondBlock-text {
  padding: 0 20px;
  text-align: left;
  min-width: 290px;
  display: flex;
  flex-direction: column;
}
.present__secondBlock-text p {
  font-weight: 400;
  font-family: Verdana;
  font-size: 16px;
  line-height: 26px;
  color: rgb(255, 240, 200);
}
.present__secondBlock-text p:first-child {
  margin-bottom: 70px;
}
.present__secondBlock-text p:nth-child(2) {
  margin-bottom: 40px;
}
.present__secondBlock-text p:nth-child(3) {
  margin-bottom: 35px;
}
.present__secondBlock-text .secondBlock-text-filling {
  color: white;
  font-size: 13px;
  font-weight: 400;
  font-family: Verdana;
  line-height: 26px;
}
.present__secondBlock-text .secondBlock-text-filling span {
  color: yellow;
}

@media (max-width: 768px) {
  .drop-down-menu-wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 290px;
  }
  .firstBlock__title-Wrapper {
    border-radius: 55px 55px 0 0;
  }
  .firstBlock__nav {
    border-radius: 0;
  }
  .drop__down-menu-secondBlock {
    border-radius: 0 0 55px 55px;
    background: linear-gradient(90deg, rgb(40, 0, 0) 0%, rgb(76, 0, 0) 35%, rgb(138, 3, 2) 100%);
  }
  .drop__down-present-wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 290px;
  }
  .drop__down-present-firstBlock {
    border-radius: 55px 55px 0 0;
  }
  .present__secondBlock {
    border-radius: 0 0 55px 55px;
    max-width: 290px;
  }
  .drop__down-present-firstBlock {
    max-width: 290px;
  }
  .present__close {
    display: none;
  }
  .close__modal {
    display: none;
  }
}
@media (max-width: 540px) {
  .drop-down-menu-wrapper {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }
}
.calendar__wrap {
  position: relative;
}

.calendar.isActive {
  display: block;
}

.calendar__drop-down-wrap {
  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #390000;
  z-index: 3;
  top: 40px;
}

.calendar__selected {
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
  gap: 40px;
}

.calendar__selected-hover {
  border: 1px solid #fff0c8;
  background: rgba(0, 0, 0, 0);
  padding: 2px 10px 2px 10px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
  gap: 40px;
}

.calendar__image-wrap {
  width: 34px;
  position: absolute;
  right: -1px;
  top: -5px;
}
.calendar__image-wrap img {
  width: 100%;
  height: 100%;
}

.calendar {
  max-width: 290px;
  background: #810b2f;
  padding: 5px;
  position: absolute;
  top: -28px;
  left: -305px;
  display: none;
  z-index: 5;
}

.calendar__month-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(173, 33, 40) 0%, rgb(255, 177, 152) 100%);
}

.month__next {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.month__next img {
  width: 100%;
  height: 100%;
}

.current__date {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.month__prev {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.month__prev img {
  width: 100%;
  height: 100%;
}

.calendar__days-name {
  display: flex;
  text-align: center;
  margin: 10px 0;
}
.calendar__days-name p {
  flex: 1 1 auto;
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
}

.calendar__days-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}
.calendar__days-wrap li {
  width: 12.5%;
  font-family: Verdana;
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 23.83px;
  color: #fff0c8;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(199, 44, 65) 100%);
}
.calendar__days-wrap li:hover {
  background: linear-gradient(0deg, rgb(133, 2, 2) 0%, rgb(255, 0, 0) 100%);
}
.calendar__days-wrap .days__item-prevMonth {
  background: none;
  cursor: default;
}
.calendar__days-wrap .days__item-prevMonth:hover {
  background: #810b2f;
}
.calendar__days-wrap .days__item-nextMonth {
  background: none;
  cursor: default;
}
.calendar__days-wrap .days__item-nextMonth:hover {
  background: #810b2f;
}

.calendar__date-now {
  position: absolute;
  left: 0;
  bottom: -71px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 290px;
  padding: 10px 0;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
}

.calendar__date-now-btnWrapper {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.calendar__date-now-btnWrapper span {
  color: white;
}

.date__now-btn-now {
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.date__clear-btn {
  cursor: pointer;
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.date__now {
  margin-top: 15px;
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 768px) {
  .calendar {
    left: 0;
    top: -300px;
  }
}
.main__content-service-block {
  background: #320000;
  min-height: 100vh;
  min-width: 300px;
}

.service__block-item-title {
  font-size: 14px;
  padding-top: 10px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
  padding-left: 15px;
  margin-bottom: 10px;
}

.service__block-item-list {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #efe5bd;
  background: linear-gradient(90deg, rgb(40, 0, 0) 0%, rgb(76, 0, 0) 45%, rgb(138, 3, 2) 100%);
}

.service__block-list-item {
  position: relative;
}
.service__block-list-item a {
  font-size: 14px;
  color: #efe5bd;
  font-weight: 400;
  font-family: "Roboto";
  display: block;
  padding: 5px;
}
.service__block-list-item:hover {
  background: #320000;
}
.service__block-list-item:hover a {
  color: white;
}

.service__block-list-item-hit {
  position: absolute;
  padding: 4px;
  background: yellow;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ff0000;
  font-weight: 700;
  font-family: "Tahoma";
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 2px;
}

@media (max-width: 1919px) {
  .main__content-service-block {
    display: none;
  }
}
.main__content-block {
  width: 100%;
  max-width: 100%;
}

.main__content-block-wrapper {
  padding: 0 80px;
}

.main__content-service-block-mini {
  background: #320000;
  min-height: 100vh;
  min-width: 330px;
  top: 34px;
  left: 0;
}

.main__content-block-page-navigation {
  padding-top: 30px;
}
.main__content-block-page-navigation a {
  font-size: 14px;
  color: #f0e6be;
  font-family: "Verdana";
}

.main__content-block-service-sale-btn {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  position: relative;
}

.main__content-block-service-btn {
  display: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-family: "Verdana";
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
}
.main__content-block-service-btn:after {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.main__content-service-block-btn {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  max-width: 330px;
  background: #3c0000;
  z-index: 45;
  min-height: 100vh;
}

.mainBtnActive {
  display: block;
}

.main__content-block-sale-btn {
  display: none;
  width: 100%;
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-family: "Verdana";
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  position: relative;
}
.main__content-block-sale-btn:after {
  content: url(../img/icons/dropDownIcon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
}

.main__content-block-mini-slider-wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mini__slider-title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 35px;
}

.mini__slider-item-title {
  font-size: 35px;
  text-align: center;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
}

.main__slider-item-sub-title {
  font-size: 25px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.main__content-block-mini-sliders {
  margin-top: 40px;
  max-width: 1160px;
}

.main__content-block-mini-sliders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mini__swiper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mini__swiper-item-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mini__swiper-item-text p {
  font-size: 14px;
  color: #ffff00;
  font-family: "Verdana";
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

.mini__swiper-item-image {
  max-width: 300px;
  border: 1px solid #fcff02;
}
.mini__swiper-item-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mini__swiper-item-image:hover {
  max-width: 100%;
  transition: 0.5s;
}

.main__content-block-mini-slider-item {
  padding-bottom: 30px;
  border-bottom: 1px solid #643c3c;
  position: relative;
}

.mini__slider-arrow-wrapper {
  position: absolute;
  top: 38%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mini__slider-prev {
  width: 30px;
  height: 80px;
  position: absolute;
  left: -30px;
  cursor: pointer;
}
.mini__slider-prev:after {
  content: "";
}
.mini__slider-prev img {
  width: 100%;
  height: 100%;
}

.mini__slider-next {
  width: 30px;
  height: 80px;
  position: absolute;
  right: -40px;
  cursor: pointer;
}
.mini__slider-next img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1919px) {
  .main__content-block-mini-sliders {
    max-width: 100%;
  }
  .main__content-block-wrapper {
    padding: 0 30px;
  }
  .main__content-block-page-navigation {
    padding-left: 60px;
  }
  .mini__slider-prev {
    height: 50px;
    left: -25px;
  }
  .mini__slider-next {
    height: 50px;
    right: -25px;
  }
  .main__content-block-sale-btn {
    display: block;
    max-width: 330px;
  }
  .main__content-block-service-btn {
    display: block;
    max-width: 330px;
  }
}
@media (max-width: 1365px) {
  .main__content-block-service-sale-btn {
    margin-top: 50px;
    justify-content: space-between;
  }
  .main__content-block-service-btn {
    display: block;
    max-width: 330px;
  }
  .main__content-block-mini-sliders {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .main__content-block-service-sale-btn {
    flex-direction: column;
    gap: 25px;
  }
  .main__content-block-service-btn {
    max-width: 100%;
  }
  .main__content-block-sale-btn {
    max-width: 100%;
  }
  .main__content-block-mini-sliders {
    max-width: 100%;
  }
  .main__content-block-wrapper {
    padding: 0;
  }
  .mini__slider-arrow-wrapper {
    display: none;
  }
  .main__content-block-page-navigation {
    padding-left: 0;
    padding-top: 20px;
  }
  .main__content-block-mini-sliders {
    margin-top: 20px;
  }
  .mini__slider-item-title {
    font-size: 25px;
  }
  .main__content-service-block-btn {
    max-width: 100%;
  }
}
.main__content-sale-block {
  min-width: 300px;
  background: #320000;
}

.main__content-sale-block-title {
  font-size: 14px;
  line-height: 40px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.main__content-sale-block-item-title {
  text-align: center;
  font-size: 25px;
  line-height: 37px;
  color: #f0e6be;
  font-family: "Verdana";
  text-align: center;
}

.main__content-sale-block-item-sub-title {
  text-align: center;
  font-size: 18px;
  line-height: 37px;
  color: #f0e6be;
  font-family: "Verdana";
  text-align: center;
  margin-bottom: 35px;
}

.main__content-sale-block-item {
  border: 1px solid #f0e6be;
  padding-top: 15px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, rgb(41, 0, 0) 20%, rgb(134, 3, 3) 73%);
}

.main__content-sale-block-item-main-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.main__content-sale-block-item-main-text p {
  font-size: 25px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Verdana";
  text-align: center;
}

.main__content-sale-block-swiper-item {
  height: 300px;
}
.main__content-sale-block-swiper-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__content-sale-block-item-swiper {
  margin-bottom: 30px;
}

@media (max-width: 1919px) {
  .main__content-sale-block {
    display: none;
  }
}
.mini__swiper-tips-text {
  text-align: right;
  font-size: 16px;
  color: #fff0c8;
  font-weight: 400;
  font-family: "Roboto";
  margin: 40px 0px 0px 0px;
  cursor: pointer;
}

.mini__swiper-tips-drop {
  position: absolute;
  background: #f0e6be;
  width: 100%;
  z-index: 40;
  padding-top: 40px;
  display: none;
}

.tips__active {
  display: block;
}

.swiper__tips-drop-title {
  text-align: center;
  font-size: 35px;
  color: #ff0000;
  font-weight: 700;
  font-family: Roboto;
  margin-bottom: 12px;
}

.swiper__tips-drop-sub-title {
  font-size: 25px;
  color: #ff0000;
  font-weight: 700;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 40px;
}

.swiper__tips-drop-about {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.swiper__tips-drop-about p {
  font-size: 14px;
  color: #410000;
  font-weight: 700;
  font-family: Verdana;
}

.swiper__tips-drop-about-head {
  font-size: 14px;
  color: #ff0000;
  font-weight: 700;
  font-family: Verdana;
  font-style: normal;
}

.swiper__tips-anchor-title {
  font-size: 18px;
  line-height: 30px;
  color: #ff0000;
  font-weight: 700;
  font-family: "Verdana";
  margin-bottom: 15px;
  padding: 0 40px;
}

.swiper__tips-drop-image {
  margin-top: 40px;
  margin-bottom: 20px;
}
.swiper__tips-drop-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper__tips-drop-image-title {
  margin-bottom: 40px;
  padding: 0 40px;
  font-size: 18px;
  line-height: 30px;
  color: #0000ff;
  font-family: "Verdana";
  font-weight: 700;
}

.tips-drop-numericListItem {
  font-size: 14px;
  line-height: 30px;
  color: #410000;
  font-weight: bold;
  font-family: "Verdana";
}

.swiper__tips-drop-stock-block {
  margin: 40px 40px 0 40px;
  background: yellow;
  padding: 20px 0;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.swiper__tips-drop-stock-block p {
  font-size: 14px;
  font-weight: 700;
  font-family: Verdana;
  font-style: normal;
}

.swiper__tips-backAll {
  margin-top: 40px;
  font-size: 16px;
  line-height: 30px;
  color: #0000ff;
  font-family: "Verdana";
  text-align: right;
  padding: 0 40px;
}

.stock__block-title {
  font-size: 18px;
  line-height: 30px;
  color: #ff0000;
  font-weight: 700;
  font-family: "Verdana";
}

.swiper__tips-content-action-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  padding: 0 40px;
}

.swiper__tips-content-title {
  font-size: 16px;
  color: #410000;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.swiper__tips-action-collapse {
  font-size: 16px;
  line-height: 30px;
  color: #0000ff;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.swiper__tips-action-show {
  font-size: 16px;
  line-height: 30px;
  color: #0000ff;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.swiper__tips-anchors {
  padding: 20px;
  margin: 0 40px;
  border: 1px solid black;
}

.swiper__tips-anchors-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
}
.swiper__tips-anchors-list a {
  font-size: 18px;
  color: #ff0000;
  font-family: "Verdana";
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .swiper__tips-anchors-list {
    grid-template-columns: 1fr;
  }
}
.subscription__block-wrapper {
  padding-bottom: 40px;
  padding-top: 55px;
  border-bottom: 1px solid #643c3c;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.first__know-block-text-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: flex-start;
}

.first__know-block {
  flex: 1 1 auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first__know-block-title {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.first__know-block-title p {
  font-size: 30px;
  color: #ffff00;
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
}

.first__know-block-text {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.first__know-block-text p {
  font-size: 14px;
  color: #fff0c8;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
}

.first__know-form {
  padding: 20px;
  border: 1px solid #efe5bd;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.first__know-form input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #efe5bd;
  padding: 5px 10px;
  width: 100%;
}
.first__know-form input::placeholder {
  font-size: 18px;
  color: #fff0c8;
  font-family: "Verdana";
  font-weight: 400;
  font-style: normal;
}
.first__know-form button {
  padding: 0 15px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: "Verdana";
}

.reminders__block-wrapper-btn {
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 15px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: "Verdana";
  cursor: pointer;
}

.download__phone-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.download__phone-block-title {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 40px;
  margin-bottom: 40px;
}
.download__phone-block-title p {
  font-size: 30px;
  color: #ffff00;
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
}

.download__phone-block-about {
  border: 1px solid #efe5bd;
  padding: 15px 20px;
  display: flex;
  max-width: 345px;
  flex: 1 1 auto;
}

.download__phone-block-about-text {
  font-size: 14px;
  line-height: 23px;
  color: #fff0c8;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  max-width: 118px;
}

.download__phone-block-about-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__phone-block-about-action-text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Verdana";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
}

.download__phone-block-about-action-btn {
  padding: 0 15px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  background: linear-gradient(0deg, rgb(125, 2, 2) 34%, rgb(223, 3, 0) 73%);
  font-family: "Verdana";
  cursor: pointer;
}

.reminders__block {
  flex: 1 1 auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reminders__block-wrapper {
  border: 1px solid #efe5bd;
  padding: 20px 0px 20px 20px;
  display: flex;
  flex-direction: column;
}

.reminders__block-title {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.reminders__block-title p {
  font-size: 30px;
  color: #ffff00;
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  text-align: right;
}

.reminders__block-wrapper-text {
  font-size: 14px;
  line-height: 24px;
  color: #fff0c8;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1919px) {
  .download__phone-block {
    max-width: 450px;
    flex: 1 1 auto;
  }
  .download__phone-block .download__phone-block-about {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 1365px) {
  .subscription__block-wrapper {
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .download__phone-block-title p {
    font-size: 24px;
  }
  .first__know-block-text {
    gap: 10px;
  }
  .first__know-block-title p {
    font-size: 24px;
  }
  .reminders__block-title p {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .reminders__block {
    max-width: 100%;
  }
  .reminders__block-title {
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .reminders__block-title {
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-bottom: 15px;
  }
  .reminders__block-title p {
    font-size: 18px;
  }
  .download__phone-block-title {
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
  }
  .download__phone-block-title p {
    font-size: 18px;
  }
  .first__know-block-title {
    flex-direction: row;
    gap: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .first__know-block-title p {
    font-size: 18px;
  }
  .first__know-block-text-wrap {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .subscription__block-wrapper {
    gap: 40px;
    padding-bottom: 20px;
  }
  .first__know-block {
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #643c3c;
  }
  .download__phone-block {
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #643c3c;
  }
  .reminders__block {
    max-width: 100%;
  }
  .reminders__block-wrapper-text br {
    display: none;
  }
  .reminders__block-wrapper {
    padding: 20px;
  }
}
@media (max-width: 479px) {
  .download__phone-block-about-action-btn {
    font-size: 14px;
  }
  .download__phone-block-about {
    padding: 20px 10px;
  }
  .first__know-form {
    padding: 20px 10px;
  }
  .reminders__block-wrapper {
    padding: 20px 10px;
  }
}
.get__work-block {
  margin-top: 40px;
  margin-bottom: 20px;
}

.get__work-title {
  padding: 20px 30px;
  border: 1px solid #f0e6be;
  font-size: 24px;
  line-height: 24px;
  color: #fff0c8;
  font-weight: 700;
  font-style: normal;
  font-family: "Tahoma";
}
.get__work-title span {
  font-weight: 400;
  font-style: normal;
  font-family: "Tahoma";
  margin-left: 15px;
}

.get__work-about {
  background: #400000;
  margin-top: 20px;
  display: flex;
  padding-right: 30px;
}

.get__work-about-image {
  display: flex;
}

.get__work-about-image-first img {
  width: 100%;
  height: 100%;
}

.get__work-about-image-second img {
  width: 100%;
  height: 100%;
}

.get__work-about-text {
  display: flex;
  gap: 30px;
  padding: 20px 0;
}
.get__work-about-text p {
  font-size: 30px;
  text-transform: uppercase;
  color: #f0e6be;
  font-weight: 700;
  font-family: "Verdana";
}

.get__work-about-text-first {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.get__work-about-text-second {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1365px) {
  .get__work-about-text p {
    font-size: 24px;
  }
}
@media (max-width: 1023px) {
  .get__work-about-image-first {
    display: none;
  }
  .get__work-about-text {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .get__work-about-text {
    flex-direction: column;
    gap: 20px;
  }
  .get__work-about-text-first {
    gap: 20px;
  }
  .get__work-about-text-second {
    gap: 20px;
  }
  .get__work-about-text p {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .get__work-about {
    padding-right: 10px;
  }
  .get__work-about-image-second {
    height: 120px;
  }
  .get__work-title {
    padding: 10px 15px;
    border: 1px solid #f0e6be;
    font-size: 14px;
  }
}
.main__down-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 40;
}

.main__down-navigation-list {
  display: none;
  width: 100%;
}

.main__down-navigation-list-item {
  flex: 1 1 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  background: linear-gradient(to bottom, #d20300, #710909);
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
  cursor: pointer;
}
.main__down-navigation-list-item:hover {
  background: #3c0000;
}
.main__down-navigation-list-item a {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(50, 0, 0);
}

footer {
  padding-top: 40px;
}

.footer__wrapper {
  padding-bottom: 100px;
}

.footer__nav {
  border-top: 1px solid #f0e6be;
  border-bottom: 1px solid #f0e6be;
  padding: 20px;
  margin-bottom: 20px;
}

.footer__nav-list {
  display: flex;
  gap: 90px;
}
.footer__nav-list li a {
  font-size: 18px;
  line-height: 33px;
  color: #fff0c8;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

.footer__rights {
  padding-left: 20px;
  font-size: 20px;
  line-height: 33px;
  color: #fff0c8;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1919px) {
  .footer__nav-list {
    flex-direction: column;
    gap: 5px;
    padding-bottom: 40px;
  }
  .footer__wrapper .main__container {
    padding: 0 30px;
  }
  .footer__nav-list {
    gap: 0;
  }
  .footer__nav-list li a {
    font-size: 18px;
  }
}
@media (max-width: 1365px) {
  .footer__nav-list li a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footer__rights {
    font-size: 14px;
    padding-left: 0;
  }
  .footer__nav {
    padding: 20px 0;
  }
  .footer__nav-list {
    padding: 0;
  }
  .footer__nav-list li a {
    font-size: 14px;
  }
}
.active {
  display: flex !important;
}

.calendarActive {
  display: block !important;
}

.dropDownCalendar {
  display: flex !important;
}

/*# sourceMappingURL=style.css.map */
